<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 위는 설정 코드 -->

<!-- xml 파일 작성법 -->
<!-- mapper 태그 안에 SQL 문 작성 -->
<!-- xml 파일을 Mapper 인터페이스에 연결 : 패키지명.mapper.UserMapper (Mapper 가 위치한 경로) -->
<!-- retrieveAll() 이라는 메서드가 실행이 될 때, domain.User 타입의 자바 객체로 매핑하겠다는 의미  -->
<mapper namespace="com.sesac.spring.mapper.UserMapper">
    <select id="retrieveAll" resultType="com.sesac.spring.domain.User">
        SELECT user.* FROM user
    </select>
</mapper>