<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs</title>
    <link rel="stylesheet" href="../../static/css/index.css" />
  </head>

  <body>
    views/test/index.ejs<br />
    <div class=" box"></div>
    <img src="/static/img/corgi.jpg" />

  </body>

</html>