h1 {
    color: blue;
}

/* 태그 선택자 */
div {
    background-color: darkgoldenrod;
}

/* 전체 선택자 */
* {
    color: black;
}

/* 클래스 선택자 */
.orange {
    color: orange;
}

.bg-red {
    background-color: darkcyan;
}

/* id 선택자 */
#red {
    color: red;
}

#list_1 {
    background-color: green;
}