h3 {
    background-color: green;
    width: 120px;
    height: 30px;
    margin: 0;
}

h4 {
    background-color: blue;
    width: 150px;
    height: 30px;
    margin: 0;
}

h5 {
    background-color: darkblue;
    width: 180px;
    height: 30px;
    margin: 0;
}

h6 {
    background-color: purple;
    width: 210px;
    height: 30px;
    margin: 0;
}

* {
    background-color: gray;
    color: white;
}

.red {
    background-color: red;
}

#first {
    background-color: blue;
}

.second {
    background-color: green;
}