/* :root - 모든 곳에 선언을 하겠다는 뜻 */
:root {
  /* css 변수 선언 */
  --nav-height-lg: 100px;
  --nav-height-sm: 60px;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* HEADER */
header {
  width: 100%;
  height: var(--nav-height-lg);
  z-index: 100;
  /* position: fixed; */
}

/* 768px 보다 클때의 header */
header .inner {
  position: relative;
  background-color: lightblue;
  height: 100%;
  display: flex;
  /* 세로축 가운데 정렬 */
  align-items: center;
  /* 가로축 가운데 정렬 */
  justify-content: center;
}

/* LOGO */
header .inner .logo {
  color: white;
  font-size: 30px;
  /* absolute: 부모 요소를 기준으로 배치 */
  position: absolute;
  left: 50px;
}

header .inner .menu {
  display: flex;
}

header .inner .menu li {
  margin: 0 15px;
  font-weight: 800;
  /* 마우스 클릭이 되도록 */
  cursor: pointer;
}

/* 미디어 쿼리 작성 768px 이하일 때  */
@media screen and (max-width: 768px) {
  header {
    height: var(--nav-height-sm);
  }

  header .inner .menu {
    /* display 속성이 block인 엘리먼트는 전후 줄바꿈이 들어가 혼자 한 줄을 차지함 */
    display: block;
    text-align: center;
    background-color: aliceblue;
  }

  header .inner {
    display: block;
  }

  header .inner .logo {
    /* 정적 위치 지정 방식 */
    position: static;
    height: 100%;
    line-height: var(--nav-height-sm);
    /* 로고를 가운데 정렬 */
    text-align: center;
  }

  header .inner .menu li {
    padding: 10px;
  }
}
